@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;

$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$fs-base: 16px;
$fs-header: 48px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;

$color-main: #ffffff;
$color-bg: #fd5798;
$color-accent: #00c380;
$color-accent-2: #eb2524;
$color-accent-3: #fdcf49;
$color-black: #000000;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 880px;

$transition: all 200ms ease-in-out;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;

  ::selection {
    background-color: $color-accent-3;
    color: $color-bg;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-section-title {
    font-family: $text-secondary;
    font-size: $fs-header;
    font-weight: $fw-extra-bold;
    text-align: center;
    padding-block: $px-M;
    text-transform: uppercase;
    text-wrap: balance;
    color: $color-accent-3;
  }

  .es-video {
    padding: $px-XL;

    &__iframe {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
    @media (min-width: $media-breakpoint-md) {
      display: flex;
      justify-content: center;
      &__iframe {
        max-width: 70%;
      }
    }
  }

  .es-cross {
    padding: 60px $px-XL;

    .es-section-title {
      padding-block: 0;
      margin-bottom: $px-XXL;
    }
    &__productsCtn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      container-type: inline-size;
      container-name: cross;
      gap: $px-XXL;
      @media (min-width: $media-breakpoint-md) {
        gap: $px-M;
      }
    }

    &__single {
      max-width: 275px;
      display: flex;
      flex-direction: column;
      gap: $px-XL;

      &:hover {
        .es-cross__img {
          transform: scale(1.1);
        }
      }
    }
    &__img {
      transition: $transition;
      max-height: 250px;
      width: auto;
    }
    &__descCtn {
      display: flex;
      flex-direction: column;
      gap: $px-M;
      text-align: center;
    }
    &__name {
      font-size: 18px;
      font-weight: $fw-black;
      text-transform: uppercase;
      @container cross (min-width: 782px) {
        height: 65px;
      }
    }

    &__desc {
      font-size: $fs-base;
      font-weight: $fw-regular;
      text-wrap: balance;
      @container cross (min-width: 782px) {
        height: 180px;
      }
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-main;
      text-align: center;
      background-color: $color-black;
      width: 200px;
      padding-block: 18px;
      font-size: 18px;
      font-weight: $fw-black;
      transition: 0.4s all ease-in-out;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: $color-accent-3;
        color: $color-black;
      }
    }
  }

  .es-footer {
    background-color: $color-black;
    padding: 0 20px;

    &__logo {
      max-width: 250px;
    }
  }
}
