#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #fd5798;
  max-width: 990px;
  margin: auto;
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #fdcf49;
  color: #fd5798;
}
#es-rc #es-rc-content ::selection {
  background-color: #fdcf49;
  color: #fd5798;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  padding-block: 16px;
  text-transform: uppercase;
  text-wrap: balance;
  color: #fdcf49;
}
#es-rc #es-rc-content .es-video {
  padding: 32px;
  position: relative;
}
#es-rc #es-rc-content .es-video__frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  transform: translate(-50%, -50%);
  z-index: 1;
}
#es-rc #es-rc-content .es-video__video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
#es-rc #es-rc-content .es-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  aspect-ratio: 1/1;
  border: 2px solid #ffffff;
  padding: 24px;
  border-radius: 99px;
  width: 80px;
  height: 80px;
  opacity: 70%;
  cursor: pointer;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-video__play.is-visible {
  display: flex;
}
#es-rc #es-rc-content .es-video__play-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 20px;
  margin-left: 6px;
  border-color: transparent transparent transparent #ffffff;
}
#es-rc #es-rc-content .es-video__play-icon.is-pause {
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#es-rc #es-rc-content .es-video__play-icon.is-pause::before, #es-rc #es-rc-content .es-video__play-icon.is-pause::after {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: #ffffff;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-video {
    display: flex;
    justify-content: center;
    padding: 64px;
  }
  #es-rc #es-rc-content .es-video__frame {
    width: calc(70% - 64px);
    height: calc(90% - 64px);
  }
  #es-rc #es-rc-content .es-video__video {
    max-width: 70%;
  }
}
#es-rc #es-rc-content .es-cross {
  padding: 60px 32px;
}
#es-rc #es-rc-content .es-cross .es-section-title {
  padding-block: 0;
  margin-bottom: 48px;
}
#es-rc #es-rc-content .es-cross__productsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  container-type: inline-size;
  container-name: cross;
  gap: 48px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-cross__productsCtn {
    gap: 16px;
  }
}
#es-rc #es-rc-content .es-cross__single {
  max-width: 275px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  transform: scale(1.1);
}
#es-rc #es-rc-content .es-cross__img {
  transition: all 200ms ease-in-out;
  max-height: 250px;
  width: auto;
}
#es-rc #es-rc-content .es-cross__descCtn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-cross__name {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}
@container cross (min-width: 782px) {
  #es-rc #es-rc-content .es-cross__name {
    height: 65px;
  }
}
#es-rc #es-rc-content .es-cross__desc {
  font-size: 16px;
  font-weight: 400;
  text-wrap: balance;
}
@container cross (min-width: 782px) {
  #es-rc #es-rc-content .es-cross__desc {
    height: 180px;
  }
}
#es-rc #es-rc-content .es-cross__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  width: 200px;
  padding-block: 18px;
  font-size: 18px;
  font-weight: 900;
  transition: 0.4s all ease-in-out;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .es-cross__link:hover {
  background-color: #fdcf49;
  color: #000000;
}
#es-rc #es-rc-content .es-footer {
  background-color: #000000;
  padding: 0 20px;
}
#es-rc #es-rc-content .es-footer__logo {
  max-width: 250px;
}/*# sourceMappingURL=styles.css.map */